.DS_Store
node_modules/
dist/
Dm_HrdSvc/node_modules/
Dm_HrdSvc/dbback/
Dm_HrdSvc/public/images/user
Dm_HrdSvc/demoTemplate/
Dm_HrdSvc/conf/config-template.js

DMClock/node_modules/
DMClock/config-template.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
